<div class='patient-stuff' align="center">
  <script type="text/javascript">
  	function getPatientSSN(row){
  		var ssn = row.cells[0].innerHTML;	//get SSN
  		window.location.href = "/patient-details?ssn=" + ssn;
  		//alert(x);
  	}
  </script>

  <div class='patient-top-container'>
  <div class='page-banner'>
    <div class='img-logo'>
    <img id="logo" src="css/images/logo.png" alt="EMR Logo">
  </div>
  </div>
  <div class='page-def' align="center">
      <br/>
      <br/>
      <label id="labelTop"><h2>Patient's List</h2> </label>
      <b><label id="pName"></label></b>
  </div>
  </div>
<table id="patientTable" name="patientTable" border="1" cellpadding="3" cellspacing="0">

    	<tr class='table-head'>
    		<th>SSN</th>
      		<th>First Name</th>
      		<th>Last Name</th>
      		<th>Birth Date</th>
      		<th>Gender</th>
      		<th>Current Status</th>
    	</tr>

    {{#each result}}
		<tr class='table-rows' onclick="getPatientSSN(this)" style="cursor:pointer">

			<td>{{SSN}}</td>
			<td>{{First_Name}}</td>
			<td>{{Last_Name}}</td>
			<td>{{formatDate Birth_Date "MMMM Do YYYY"}}</td>
			<td>{{Gender}}</td>
			<td>{{Current_Status}}</td>
		</tr>
    {{/each}}
</table>
</div>
