{{#section 'demographics'}}
<link rel="stylesheet" type="text/css" href="css/demographics.css">
<table class='patient-details-table'>

<tr><td>First Name: </td><td><b>{{result.First_Name}}</b></td></tr>
<tr><td>Last Name: </td><td><b>{{result.Last_Name}}</b></td></tr>
<tr><td>Gender: </td><td><b>{{result.Gender}}</b></td></tr>
<tr><td>Birth Date: </td><td><b>{{result.Birth_Date}}</b></td></tr>
<tr><td>SSN: </td><td id="ssn"><b>{{result.SSN}}</b></td></tr>
<tr><td>Home Address: </td><td><b>{{result.Home_Address}}</b></td></tr>
<tr><td>City: </td><td><b>{{result.City}}</b></td></tr>
<tr><td>State: </td><td><b>{{result.State}}</b></td></tr>
<tr><td>Zip Code: </td><td><b>{{result.ZipCode}}</b></td></tr>
<tr><td>Home Phone: </td><td><b>{{result.Home_Phone}}</b></td></tr>
</table>
{{/section}}
